html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

.container {
    width: 600px;
    margin: 0 auto;
    height: 22rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    text-align: center;
}

.photo {
    text-align: center;
}

.photo img {
    margin: 0 auto;
    width: 10rem;
    border: 0.1rem solid #afafaf;
    border-radius: 50%;
}

.blurb {
    text-align: center;
    margin-bottom: 0.5rem;
}

ul.social {
    text-align: center;
    margin: 0;
    padding: 0;
}

.social li:first-child {
    margin-left: 0;
}

.social li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 0.8rem;
}

.social i.fa {
    font-size: 2rem;
}

.social a, .social img {
    display: inline-block;
    width: 1.8rem;
}

.social li:hover img {
    width: 2.0rem;
}

.social li:hover i.fa {
    font-size: 2.2rem;
}

.social .twitter a {
    color: #00aced;
}

.social .github a {
    color: #000;
}

.social .stack-overflow a {
    color: #f48024;
}

.social .linkedin a {
    color: #0077b5;
}